
.box {
    margin-top: 40px;
    margin-left: 20px;
    height: 6em;
    width: 12em;
    background-color: #e7e2e2;
}

.account-button {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.account-button {
    position: relative;
    top: 10px;
}
