
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 14em;
    background-color: #e7e2e2;
}

.account-button {
    justify-content: center;
    align-items: center;
}


