* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
}

.account-name {
    margin-left: 8px;
}

body {
    overflow-y: scroll;
}
.accounts-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
}

.accounts-list li {
    display: block;
    width: 100%;
}

.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-form {
    background-color: white;
    width: 25em;
    height: 12em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.auth-form {
    background-color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.reset-password-form input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 2em;
    width: 70%;
    border-radius: 0.25em;
    text-align: center;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 70%;
    border-radius: 0.25em;
    text-align: center;
    /*padding: 2em;*/
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.background-image {
    background-image: url('./assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-image-user-main-view {
    background-image: url('assets/images/sejf.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.smaller-button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    line-height: 1;
}

.cos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}


.custom-modal-width {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.link {
    color: blue;
}

.chart-div {
    height: 400px;
    width: 400px;
}

.chart {
    max-height: 200px;
    max-width: 200px;
}

.background-color {
    background: #eee;
}

.bar-chart {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid black;
    color: black;
}

.pagination-link {
    font-weight: normal;
}

.pagination-link-active a {
    color: #fff;
    background: #47a7de;
}

.pagination-link-disabled a {
    color: rgb(143, 140, 150);
    border: 1px solid rgb(121, 119, 131);
}

.my-radio {
    height: 20px;
}

