body {
    overflow-y: scroll;
}

.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.border {
    border: 3px solid #000c5e;
}

.background-image {
    background-image: url('./assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    color: blue;
}
