body {
    overflow-y: scroll;
}

.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.background-image {
    background-image: url('./assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-color {
    background: #cfd2f1;
;
}

.smaller-button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    line-height: 1;
}

.custom-modal-width {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.link {
    color: blue;
}

.chart {
    max-height: 200px;
    max-width: 200px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid black;
    color: black;
}

.pagination-link {
    font-weight: normal;
}

.pagination-link-active a {
    color: #fff;
    background: #47a7de;
}

.pagination-link-disabled a {
    color: rgb(143, 140, 150);
    border: 1px solid rgb(121, 119, 131);
}

.my-radio {
    height: 20px;
}

